.navbar-default {
  background-color: #fff;
  border: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}


.pi-nav-left {
  position: fixed;
  width: 250px;
  height: 100vh;
  left: 0;
  padding: 10px 0 0;
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.025);
  z-index: 1;
}

.pi-nav-right {
  position: fixed;
  width: 250px;
  height: 100vh;
  right: 0;
  padding: 10px 0 0;
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.025);
  z-index: 1;
}

.logo {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 1.5em;
  color: #708fa0;
}
