@media only screen and (max-width : 1100px) {

  .content {
    width: 450px;
  }

  .pi-nav-left {
    width: 150px;
    background-color: #3498db;
  }

  .pi-nav-right {
    width: 150px;
    background-color: #1abc9c;
  }
  
  header {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media only screen and (max-width : 780px) {

  .content {
    width: 350px;
  }

  .pi-nav-left {
    width: 60px;
    background-color: #3498db;
  }

  .pi-nav-right {
    width: 60px;
    background-color: #1abc9c;
  }
  
  header {
    margin-left: 60px;
    margin-right: 60px;
  }
}
