body {
  background-color: #ebebeb;
}

.navbar-default {
  border: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}


.pi-nav-left {
  position: fixed;
  width: 280px;
  height: 100vh;
  left: 0;
  padding: 10px 0 0;
  background-color: #fff;
  z-index: 1;
}

.pi-nav-right {
  position: fixed;
  width: 280px;
  height: 100vh;
  right: 0;
  padding: 10px 0 0;
  background-color: #fff;
  z-index: 1;
}

.container {
  margin-top: 50px;
}
.content {
  width: 550px;
  height: 150px;
  margin: 10px auto auto;
  background-color: #fff;
}
